<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Eat da Burger</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>

  <body style="background-color:#e8e199">
    <div class="container-fluid" style="text-align: center;">
      <h1> Welcome to Eat Da Burger App</h1>
      <img src="/assets/img/burger.jpg" style="width: 10%; padding-bottom: 30px">
      <hr>
      <div class="row">
        {{!-- <div class="col-6">
          <div class="alert  alert-info">
            <strong style="float: left"> This is a burger</strong>
            <button type="button" class="btn btn-danger">DeVour it</button>
          </div>
        </div>
        <div class="col-6" >
            <div class="alert alert-dismissible alert-info">
              <strong style="float: left"> This is a burger</strong>
              <button type="button" class="btn btn-danger">DeVour it</button>

            </div>
          </div>
      </div> --}}
      	{{{ body }}}
    </div>

      <form>
        <textarea class="form-control" style="width: 30%; margin-left: auto; margin-right: auto" id="burgName" rows="3"></textarea>
        <hr>
        <button type="button" id="submit" style="margin-left: 50%; margin-right: 50%" class="btn btn-danger">Submit</button>
        </form>

    </div>

	</body>
  		<script src="/assets/js/logic.js"></script>
</html>
